@tailwind base;
@tailwind components;
@tailwind utilities;

.v-enter-active,
.v-leave-active {
  transition: opacity .5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.btn {
  @apply outline-0 px-[12px] py-[6px] rounded;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Quesha';
  src: url('@/assets/fonts/Quesha.ttf')  format('truetype'),
}

@layer utilities {
  .rm-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .overflowed {
    overflow: auto;
  }

  .overflowed::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: transparent;
  }

  .overflowed::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #ccc;
    /* vertical-align: middle */
  }
  .container {
    @apply max-w-[1250px] mx-auto px-3;
  }
}

@layer components {
  .focused {
    @apply focus:outline-none focus-visible:ring ring-slate-300;
  }
}

.ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  white-space: pre-wrap;
}
.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  white-space: pre-wrap;
}
.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  white-space: pre-wrap;
}

.cart-btn {
  @apply bg-amber-600 rounded-md py-[10px] text-sm px-[12px] text-white border border-white;
}
.account-btn {
  @apply text-[#7C3100] py-[10px] text-sm px-[12px] bg-slate-50 rounded border;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.error-alert {
  @apply bg-red-200 text-red-400 p-3 font-medium text-sm rounded flex justify-between 
  font-medium gap-2;
}